extends layouts/layout.pug

block content
    .container
        br/
        .btn-container
            input(type='text' class='location-text' placeholder="Which bar are you going tonight?")
            button(type='submit' class='btn btn-search') Search

    ul.container.bar-list

    li.bar.hidden
        img(class='bar-photo')
        div(class='bar-info')
            a(class='bar-name')
            a(class='bar-toggle-attendance' href="#") 0 GOING
            p(class='bar-desc')

        //- .btn-container
        //-     a(href='/polls/new' class='btn btn-new-poll') New Poll!
        //-     a(href='/polls' class='btn btn-polls') My Polls

        //- hr

        //- .container
        //-     img(src='/public/img/clementine_150.png')
        //-     br/
        //-     p.clementine-text | Clementine.js

        //- .container
        //-     p.
        //-         You have clicked the button #[span#click-nbr] times.
        //-     br/
        //-     .btn-container
        //-         button(type='submit' class='btn btn-add') CLICK ME!
        //-         button(class='btn btn-delete') RESET

block append scripts
    //- = '\n'
    //- script(type='text/javascript' src='controllers/clickController.client.js')
    = '\n'
    script(type='text/javascript' src='controllers/userController.client.js')
    script(type='text/javascript', src='/controllers/barController.client.js')
